<div class="container">
    <br>
    <div class="row justify-content-evenly border rounded" style="padding-bottom: 20px;">
        <h3 style="text-align: center;">OBJECTS</h3>
            <{OBJECTS}>
    </div>
    <{PROJ_CTRL}>
    <br>
    <form action="{|HTTP_URL|}" method="post">
        <div class="row gx-5">
            <div class="col-2">
                <{OBJECTS_N_SEQ_PROP}>
            </div>
            <br>
            <div class="col-8">
                    <div class="row">
                        <{GRAPH}>
                    </div>
                    <br>
                    <div class="row border rounded">
                        <h3>DATATABLE</h3>
                    </div>
            </div>
            <div class="col-2">
                <{SEQ_FUNCTIONS}>
            </div>
        </div>
    </form>
    <br>
</div>