<br>
<div class="row justify-content-end">
    <div class="col-4">
        <button class="btn btn-outline-success" id="saveprojbutton" name="saveProj" value="<{ACTION}>" data-bs-toggle="modal" data-bs-target="#saveproj_form"><i class="bi bi-save"></i> Save Project</button>
        <button class="btn btn-outline-success" id="shareprojbutton" name="shareProj" value="<{ACTION}>" data-bs-toggle="modal" data-bs-target="#shareproj_form"><i class="bi bi-share"></i> Share Project</button>
    </div>
</div>
<div class="modal fade" id="saveproj_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    </div>
</div>
<div class="modal fade" id="shareproj_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    </div>
</div>