<form method="post">
  <table id="taxtable" class="display">
    <thead>
      <tr>
        <th>Select</th>
        <th>Organism name</th>
        <th>RefSeq Category</th>
        <th>Assembly Level</th>
        <th>SeqRelDate</th>
        <th>Division</th>
      </tr>
    </thead>
  </table>
  <br>
  <div class="row justify-content-between">
    <div class="col-4">
        <button class="btn btn-outline-success" id="selectFileBut" name="addFileToList" value="true">Select file</button>
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-success" name="analyzing" value="true">Start analyzing <|> </button>
    </div>
  </div>
  <br>
</form>

