<br>
<div class="container">
    <div class="row border border-success">
        <div class="col">
            <a href="{|HTTP_URL|}&id=1">Cellular Organisms-></a>
        </div>
    </div>
    <div class="row border border-success">
        <div class="col-4">
            <h4><a href="{|HTTP_URL|}&id=1">Cellular Organisms</a></h4>
            <ul>
                <li><a href="{|HTTP_URL|}&id=314">Bacteria</a>
                    <ul>
                        <li><a href="{|HTTP_URL|}&id=315">Terrabacteria group</a></li>
                        <li><a href="{|HTTP_URL|}&id=468">Proteobacteria</a></li>
                        <li><a href="{|HTTP_URL|}&id=538">PVC group</a></li>
                        <li><a href="{|HTTP_URL|}&id=619">FCB group</a></li>
                        <li><a href="{|HTTP_URL|}&id=749">Spirochaetes</a></li>
                        <li><a href="{|HTTP_URL|}&id=903">Thermotogae</a></li>
                        <li><a href="{|HTTP_URL|}&id=921">Aquificae</a></li>
                        <li><a href="{|HTTP_URL|}&id=1243">Deferribacteres</a></li>
                        <li><a href="{|HTTP_URL|}&id=1610">Acidobacteria</a></li>
                        <li><a href="{|HTTP_URL|}&id=2206">Elusimicrobia</a></li>
                        <li><a href="{|HTTP_URL|}&id=2298">Coprothermobacterota</a></li>
                        <li><a href="{|HTTP_URL|}&id=2305">Dictyoglomi</a></li>
                        <li><a href="{|HTTP_URL|}&id=2312">Nitrospirae</a></li>
                        <li><a href="{|HTTP_URL|}&id=2598">Fusobacteria</a></li>
                        <li><a href="{|HTTP_URL|}&id=2755">Synergistetes</a></li>
                        <li><a href="{|HTTP_URL|}&id=5607">Chrysiogenetes</a></li>
                        <li><a href="{|HTTP_URL|}&id=7215">Thermodesulfobacteria</a></li>
                        <li><a href="{|HTTP_URL|}&id=8614">Calditrichaeota</a></li>
                        <li><a href="{|HTTP_URL|}&id=10886">Caldiserica/Cryosericota group</a></li>
                        <li><a href="{|HTTP_URL|}&id=14018">Nitrospinae/Tectomicrobia group</a></li>
                        <li><a href="{|HTTP_URL|}&id=16718">Bacteria incertae sedis</a></li>
                        <li><a href="{|HTTP_URL|}&id=52511">unclassified Bacteria</a></li>
                        <li><a href="{|HTTP_URL|}&id=80642">Atribacterota</a></li>
                    </ul>
                </li>
                <li><a href="{|HTTP_URL|}&id=2">Eukaryota</a>
                    <ul>
                        <li><a href="{|HTTP_URL|}&id=3">Opisthokonta</a></li>
                        <li><a href="{|HTTP_URL|}&id=69">Viridiplantae</a></li>
                        <li><a href="{|HTTP_URL|}&id=167">Sar</a></li>
                        <li><a href="{|HTTP_URL|}&id=184">Metamonada</a></li>
                        <li><a href="{|HTTP_URL|}&id=191">Discoba</a></li>
                        <li><a href="{|HTTP_URL|}&id=286">Cryptophyceae</a></li>
                        <li><a href="{|HTTP_URL|}&id=428">Amoebozoa</a></li>
                    </ul>
                </li>
                <li><a href={|HTTP_URL|}&id=571>Archaea</a>
                    <ul>
                        <li><a href="{|HTTP_URL|}&id=572">Euryarchaeota</a></li>
                        <li><a href="{|HTTP_URL|}&id=628">TACK group</a></li>
                        <li><a href="{|HTTP_URL|}&id=853">Candidatus Thermoplasmatota</a></li>
                        <li><a href="{|HTTP_URL|}&id=53985">DPANN group</a></li>
                        <li><a href="{|HTTP_URL|}&id=70481">Asgard group</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li><a href="{|HTTP_URL|}&id=18375">Viruses</a>
                    <ul>
                        <li><a href="{|HTTP_URL|}&id=18376">Varidnaviria</a></li>
                        <li><a href="{|HTTP_URL|}&id=33419">Monodnaviria</a></li>
                        <li><a href="{|HTTP_URL|}&id=33446">Riboviria</a></li>
                        <li><a href="{|HTTP_URL|}&id=33717">Satellites</a></li>
                        <li><a href="{|HTTP_URL|}&id=33735">Duplodnaviria</a></li>
                        <li><a href="{|HTTP_URL|}&id=33762">Anelloviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=33772">Alphasatellitidae</a></li>
                        <li><a href="{|HTTP_URL|}&id=33784">Naldaviricetes</a></li>
                        <li><a href="{|HTTP_URL|}&id=33868">Plasmaviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=33902">Adnaviria</a></li>
                        <li><a href="{|HTTP_URL|}&id=33912">unclassified viruses</a></li>
                        <li><a href="{|HTTP_URL|}&id=33935">Fuselloviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=34004">Avsunviroidae</a></li>
                        <li><a href="{|HTTP_URL|}&id=34181">Tolecusatellitidae</a></li>
                        <li><a href="{|HTTP_URL|}&id=34398">Globuloviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=34407">unclassified bacterial viruses</a></li>
                        <li><a href="{|HTTP_URL|}&id=34474">Polydnaviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=34620">Bicaudaviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=34796">Pospiviroidae</a></li>
                        <li><a href="{|HTTP_URL|}&id=35523">Ribozyviria</a></li>
                        <li><a href="{|HTTP_URL|}&id=36434">Halspiviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=36774">Ampullaviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=37640">unclassified archaeal viruses</a></li>
                        <li><a href="{|HTTP_URL|}&id=40571">environmental samples</a></li>
                        <li><a href="{|HTTP_URL|}&id=44685">Guttaviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=55997">Portogloboviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=56158">Finnlakeviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=56948">Clavaviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=59364">Spiraviridae</a></li>
                        <li><a href="{|HTTP_URL|}&id=89531">Dinodnavirus</a></li>
                        <li><a href="{|HTTP_URL|}&id=89736">Ovaliviridae</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-8 border border-success">
            <h3 style="text-align: center;">Brief information</h3>
            <br><br>
            <table>
                <th>
                    
                </th>
            </table>
        </div>
    </div>
</div>