<div class="list-group">
    <a href="<{LINK}>" class="list-group-item list-group-item-action">CDNA Length</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">CpG-Island in CDNA</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">GC-Content in CNDA</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Nucleotide by Position in CDNA</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Adenine in CDNA</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Cytosine in CDNA</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Guanine in CDNA</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Thymine in CDNA</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Gene Names</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Transcript names</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Chromosome</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Strand</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Motifs</a>
</div>