<div class="list-group">
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Codon Usage</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">AminoAcid Position</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Codon Position</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">CDS Length</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">CpG-Island in CDS</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">GC-Content in CDS</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Nucleotide by Position in CDS</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Adenine in CDS</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Cytosine in CDS</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Guanine in CDS</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Thymine in CDS</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Gene Names</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Transcript names</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Chromosome</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Strand</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Motifs</a>
</div>