<div class="list-group">
    <a href="<{LINK}>" class="list-group-item list-group-item-action">5'UTR Length</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">CpG-Island in 5'UTR</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">GC-Content in 5'UTR</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Nucleotide by Position in 5'UTR</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Adenine in 5'UTR</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Cytosine in 5'UTR</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Guanine in 5'UTR</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Thymine in 5'UTR</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Gene Names</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Transcript names</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Chromosome</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Strand</a>
    <a href="<{LINK}>" class="list-group-item list-group-item-action">Motifs</a>
</div>