<nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-xl navbar-expand-xxl navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{|HTTP_PATH|}">GenomePro</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <{ACT_HOME}>" aria-current="page" href="{|HTTP_PATH|}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <{ACT_upldyrfls}>" href="{|HTTP_PATH|}?m=upldyrfls" onclick="checkUser()">Upload Your Files</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <{ACT_txstrdb}>" href="{|HTTP_PATH|}?m=txstrdb">Taxonomy Structured GDatabase</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <{ACT_geo}>" href="{|HTTP_PATH|}?m=geo">GEO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <{ACT_prj}>" href="{|HTTP_PATH|}?m=prj">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <{ACT_gnm}>" href="{|HTTP_PATH|}?m=gnm">Genomes</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <{LOGIN_BLOCK}> 
      </div>
    </div>
</nav>
