<div class="d-flex ms-1 mt-1 mt-md-0">
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="#"><button type="button" id="login_but" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#login_form">LOGIN</button></a>
  </div>
</div>
<input type="hidden" id="query" value="{|HTTP_PATH|}">
<div class="modal fade" id="login_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
  </div>
</div>
<script src="script/js/login.js"></script>