<div class="d-flex ms-1 mt-1 mt-md-0">
    <div class="btn-group dropstart" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"  aria-expanded="false" data-bs-offset="1000,2000">
            <i class="bi bi-person-circle"></i> <{USER_NAME}>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{|HTTP_PATH|}?m=up" class="dropdown-item" type="button">My Profile</a></li>
            <li><a href="{|HTTP_PATH|}?m=ufp" class="dropdown-item" type="button">My Uploaded Files</a></li>
            <li><a href="{|HTTP_PATH|}?m=upp" class="dropdown-item" type="button">My Projects</a></li>
            <li><a href="{|HTTP_PATH|}?m=login&action=logout" class="dropdown-item" type="button">Logout</a></li>
        </ul>
    </div>
</div>